Repository sandromello/wgadmin, pull requests merged in 2020-02, with the labels that each got.

#24 Allows adding dynamic firewall rules
  terraform/platforms/gcp/gcp.tf
  terraform/platforms/gcp/variables.tf
Labels: platform/gcp

#25 Add option to create bucket
  terraform/platforms/gcp/gcp.tf
  terraform/platforms/gcp/variables.tf
Labels: enhancement, platform/gcp

#29 Change 'pending' to 'pending download'
  pkg/api/types.go
Labels: enhancement
